<!-- 可用右鍵PHP SERVER開啟 -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lab</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

</head>
<body>

    <div id="lab">
        First Name: <input type="text" v-model="firstName"> <br>
        Last  Name:  <input type="text" v-model="lastName"> <br>
        Full Name: {{ fullName }}  <br>
        Last update: {{ Lastupdate }}
    </div>

<script>
    var labApp = new Vue({
        el: "#lab",
        data: {
            firstName: "",
            lastName: "",
            Lastupdate: ""
            
        },
        computed: {
            fullName: function () {
                return this.firstName + " " + this.lastName;   // firstName和lastName改變時，就會計算一次
            }
        },
        watch: {   // 當fullName改變時，將Lastupdate變成改變當下的日期
            fullName: function () {
                this.Lastupdate = Date();
            }
        }
    })


</script>

</body>
</html>